<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>計算機工学 フィードバック</title>

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row" id="title">
        <h1>計算機工学 フィードバック</h1>
      </div>
      <script type="text/x-template" id="fb-list">
        <div class="list-group">
            <a href="#" class="list-group-item" v-for="l in lessons" v-on:click="changeFb(l)" v-bind:class="{active: fb_date == l}">{{ l }}</a>
        </div>
      </script>

      <script type="text/x-template" id="fb-body">
        <div>
            <h2>{{ fbdata.title }}</h2>
            <div class="alert alert-warning" role="alert" v-if="fbdata.error">
                取得に失敗しています。パスワードを再確認し、この日付のファイルをdataフォルダから削除して再起動してください。
            </div>
            <p>採点日時: {{ fbdata.submit_date }}</p>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>結果</th>
                        <th>自分の答え</th>
                        <th>解答</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="q in fbdata.ans">
                        <th scope="row">{{ q.qname }}</th>
                        <td class="qres" v-bind:class="{'ans-true': q.res == 'True', 'ans-false': !(q.res == 'True')}">{{ q.res }}</td>
                        <td>{{ q.your_ans }}</td>
                        <td>
                            <ul>
                                <li v-for="a in q.ans">{{ a }}</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <graph-rate class="col-md-6" :ans="fbdata.ans" :stats="fbdata.stats"></graph-rate>
                <graph-score class="col-md-6" :stats="fbdata.score_count"></graph-score>
            </div>

            <div class="panel-group" style="margin-top: 16px;" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseRawData" aria-expanded="false" aria-controls="collapseRawData">
                            元データ
                            </a>
                        </h4>
                    </div>
                    <div id="collapseRawData" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body" v-html="fbdata.raw_data">
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </script>

      <div class="row" id="parent">
        <div class="col-md-3">
          <fb-list
            :fb_date="fb_date"
            :lessons="lessons"
            v-on:change-fb="changeFb"
          ></fb-list>
          <graph-history :lessons="lessons"></graph-history>
        </div>
        <div class="col-md-9" id="fb-body" :fb_date="fb_date">
          <fb-body :fb_date="fb_date"></fb-body>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
